{
    "extends": ["eslint:recommended", "airbnb", "prettier"],
    "env": {
      "browser": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 8,
      "requireConfigFile": false,
      "babelOptions": {
        "presets": ["@babel/preset-react"]
      }
    },
    "rules": {
      "no-plusplus": [0],
      "react/function-component-definition": [
        2,
        {
          "namedComponents": "arrow-function",
          "unnamedComponents": "arrow-function"
        }
      ],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prop-types": [0],
      "react/jsx-props-no-spreading": [0],
      "import/prefer-default-export": [0],
      "react/no-array-index-key": [0],
      "arrow-body-style": [0],
      "prefer-arrow-callback": [0]
    }
  }